<div class="container main-container">
    <div class="col-md-2">
        <ul class="list-group general-permissions">
            <li class="list-group-item {{if isGeneralPermissionActive 'active'}}" {{action 'openGeneralPermissions'}}>General Permissions</li>
            <li class="list-group-item delimiter"></li>
            <li class="list-group-item {{if isDefaultStaticPermissionActive 'active'}}" {{action 'openStaticPermission' 'default'}}>Default</li>
            <li class="list-group-item {{if isAllDataStaticPermissionActive 'active'}}" {{action 'openStaticPermission' 'all_data'}}>All Data</li>
            <li class="list-group-item {{if isAdminStaticPermissionActive 'active'}}" {{action 'openStaticPermission' 'admin'}}>Admin</li>
            <li class="list-group-item {{if isVirtualGalleriesStaticPermissionActive 'active'}}" {{action 'openStaticPermission' 'virtual_galleries'}}>Virtual Galleries</li>
            <li class="list-group-item delimiter"></li>
            <li class="list-group-item {{if isPredefinedRolesActive 'active'}}" {{action 'openPredefinedRoles'}}>Predefined Roles</li>
        </ul>
    </div>
    <div class="col-md-10">
      {{outlet}}
    </div>
</div>

