<div class="form-group">
  <ul class="col-md-6">
    <label class="col-md-12">{{input type="checkbox" checked=role.is_admin }} Is Admin</label>
    <label class="col-md-12">{{input type="checkbox" checked=role.is_all_data}} Is All Data</label>
    <label class="col-md-12">{{input type="checkbox" checked=role.is_sharing}} Is Sharing</label>
    <label class="col-md-12">{{input type="checkbox" checked=role.is_factsheet_reports}} Is Factsheet Report</label>
  </ul>
  <ul class="col-md-6">
    <label class="col-md-12">{{input type="checkbox" checked=role.use_as_predefined}}Use as Predefined</label>
    <label class="col-md-12">{{input type="checkbox" checked=role.use_as_subscription}}Use as Subscription</label>
  </ul>

</div>
{{#each group in groups}}
  <div class="col-md-12">
    <h4 class="col-md-4">{{group.name}}</h4>
    <h4 class="col-md-2">Create</h4>
    <h4 class="col-md-2">Read</h4>
    <h4 class="col-md-2">Update</h4>
    <h4 class="col-md-2">Delete</h4>
  </div>

  {{#each permission in group.permissions}}
    <div class="col-md-12">
            <span class="col-md-4">
              {{permission.field}}
            </span>
      <div class="col-md-2">
        {{permissions-settings-item permission=permission action='create'}}
      </div>
      <div class="col-md-2">
        {{permissions-settings-item permission=permission action='read'}}
      </div>
      <div class="col-md-2">
        {{permissions-settings-item permission=permission action='update'}}
      </div>
      <div class="col-md-2">
        {{permissions-settings-item permission=permission action='delete'}}
      </div>
    </div>
  {{/each}}
{{/each}}


